<!doctype html>
<html lang="en">

<head>
    <title>Action-Man !</title>
    <link rel="icon" href="img/pokeball.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />

    <!-- Optional JavaScript -->
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script src="lib/angular1-6-7/angular.js"></script>
    <script src="lib/angular1-6-7/angular-route.js"></script>

    <!-- Chart.js pour graphique -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="app/graph.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controller.js"></script>
    <script src="app/script.js"></script>

</head>

<body ng-app="myApp">
    <header id="header">
        <p id="title">Accueil</p>
    </header>
    <div id="content">
        <div class="line">
            <div class="col-md-6 quad" ng-controller="buyAction">
                <h1>Acheter action</h1>
                <div>
                    <form  ng-submit="searchAction()">
                        <div class="group">
                            <input type="search" ng-model="searchBar" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Rechercher</label>
                        </div>
                        <input type="submit" class="form-control btn btn-primary" value="Ok" />
                    </form>
                </div>
                <p id="notFoundBuy">{{name}} not found</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            <th>Acheter</th>
                        </tr>
                    </thead>
                    <tbody id="tableBuy">
                        <form class="form-inline my-2 my-lg-0" ng-submit="buyAction()">
                            <tr>
                                <td scope="row" ng-model="nameFound">{{nameFound}}</td>
                                <td>{{price}} $</td>
                                <td ng-model="quantityBuy">
                                    <input class="number" id="numberBuy" type="number" min="1" required>
                                </td>
                                <td id="totalBuy" ng-model="priceBuy"></td>
                                <td>
                                    <input type="submit" class="form-control btn btn-primary" value="Acheter" />
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>

            <h1>Cours de la bourse</h1>
            <div class="col-md-6 quad" id="chart">
                <canvas id="myChart"></canvas>
            </div>


            <h1>Liste des actions achetées</h1>
            <div ng-controller="listAction">
                <div class="col-md-6 quad">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Nombre</th>
                                <th>Total</th>
                                <th>Bénéfice</th>
                                <th>Détails</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in Action">
                                <form class="form-inline my-2 my-lg-0" ng-submit="seeAction()">
                                    <td scope="row" ng-model="name">{{x.name}}</td>
                                    <td>{{x.price}} $</td>
                                    <td>{{x.quantity}}</td>
                                    <td>{{x.totalAction}} $</td>
                                    <td id="benefice{{x.name}}" class="benefice">{{x.benefice}} $</td>
                                    <td>
                                        <a href="#" class="btn btn-primary" role="button" ng-click="seeAction()" ng-value="x.name">Voir</a>
                                    </td>
                                </form>
                            </tr>
                            <tr>
                                <td scope="row"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h1>Détails</h1>
                <div class="col-md-6 quad">
                    <table class="table" id="tableSell">
                        <form class="form-inline my-2 my-lg-0" ng-submit="sellAction()">
                            <tr>
                                <th>Nom</th>
                                <td>{{name}}</td>
                            </tr>
                            <tr>
                                <th>Symbole</th>
                                <td ng-model="symbol">{{symbol}}</td>
                            </tr>
                            <tr>
                                <th>Prix d'achat</th>
                                <td ng-model="ownBuy">{{ownBuy}}</td>
                            </tr>
                            <tr>
                                <th>Nombre achetés</th>
                                <td ng-model="quantity">{{quantity}}</td>
                            </tr>
                            <tr>
                                <th>Prix actuel</th>
                                <td ng-model="price">{{price}}</td>
                            </tr>
                            <tr>
                                <th>Vendre</th>
                            </tr>
                            <tr>
                                <td>Quantité :</td>
                                <td>
                                    <input class="number" id="numberSell" type="number" min="1" max="{{quantity}}" ng-model="quantitySell" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Gain :</td>
                                <td id="gain" ng-model="priceSell"></td>
                            </tr>
                            <tr>
                                <td>Bénéfice :</td>
                                <td id="benefice" class="benefice" ng-model="benefice">{{benefice}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" class="form-control btn btn-primary" value="Vendre" />
                                </td>
                            </tr>
                            <tr>
                                <th>Vendre tout</th>
                                <td>Bénéfice total :
                                    <div id="beneficeTotal" class="benefice" ng-model="beneficeTotal">{{beneficeTotal}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Gain : {{gainTotal}}</td>
                                <td>
                                    <a href="#" class="btn btn-primary" role="button" ng-click="sellAllAction()" ng-value="symbol">Vendre tout</a>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>