<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />

    <!-- Optional JavaScript -->
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script src="lib/angular1-6-7/angular.js"></script>
    <script src="lib/angular1-6-7/angular-route.js"></script>

    <!-- Chart.js pour graphique -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="graph.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controller.js"></script>
    <script src="app/script.js"></script>

</head>

<body ng-app="myApp">
    <header id="header">
        <p id="title">Accueil</p>
    </header>
    <div id="content">
        <div class="line">
            <div class="col-md-6 quad" ng-controller="buyAction">
                <h1>Acheter action</h1>
                <div>
                    <form class="form-inline my-2 my-lg-0" ng-submit="searchAction()">
                        <input type="search" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Rechercher" ng-model="searchBar">
                        <input type="submit" class="form-control btn btn-primary" value="Ok"/>
                    </form>
                </div>
                <p id="notFoundBuy">{{name}} not found</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            <th>Acheter</th>
                        </tr>
                    </thead>
                    <tbody id="tableBuy">
                        <tr>
                            <td scope="row">{{nameFound}}</td>
                            <td>{{price}} $</td>
                            <td><input id="numberBuy" type="number" min="1" ng-model="quantityBuy"></td>
                            <td id="totalBuy"></td>
                            <td>
                                <a name="" id="buttonBuy" class="btn btn-primary" href="#" role="button">Acheter</a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6 quad">
                <canvas id="myChart"></canvas>
            </div>


            <h1>Liste des actions achetées</h1>
            <div class="col-md-6 quad">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Nombre</th>
                            <th>Prix</th>
                            <th>Détails</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">truc</td>
                            <td>10</td>
                            <td>2$</td>
                            <td>
                                <a name="" id="" class="btn btn-primary" href="#" role="button">Voir</a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h1>Détails</h1>
            <div class="col-md-6 quad">
                <ul class="list-group">
                    <li class="list-group-item">Nom</li>
                    <li class="list-group-item">Symbole</li>
                    <li class="list-group-item">Prix d'achat</li>
                    <li class="list-group-item">Nombre achetés</li>
                    <li class="list-group-item">Prix actuel</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>