@font-face {
    font-family: "WhitneyMedium";
    src: url('WhitneyMedium.ttf');
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    background-color: lightgray;
    font-family: WhitneyMedium;
}

.quad {
    width: 50%;
    height: 100%;
    float: left;
}

.line {
    height: 50%;
    width: 100%;
}

.equal,
.equal>div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
}

#header {
    position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
    background-color: #6495ED;
    z-index: 1;
    padding-top: 10px;
}

#title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

#content {
    margin-top: 90px;
}

#numberBuy {
    background-color: lightgray;
}

#numberSell {
    background-color: lightgray;
}

.benefice {
    font-weight: bold;
}


/* Input text */
.group 			  { 
    position:relative; 
    margin-bottom:10px;
    background-color: lightgray; 
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: lightgray;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label		{
    top:-20px;
    font-size:14px;
    color:#007bff;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#007bff; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#007bff; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#007bff; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#007bff; }
    to 	{ width:0; background:transparent; }
  }

  /* End input text */

  .number {
      width: auto;
  }