@font-face {
    font-family: "WhitneyMedium";
    src: url('WhitneyMedium.ttf');
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    background-color: lightgray;
    font-family: WhitneyMedium;
}

.quad {
    width: 50%;
    height: 100%;
    float: left;
}

.line {
    height: 50%;
    width: 100%;
}

.equal,
.equal>div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
}

#header {
    position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
    background-color: #6495ED;
    z-index: 1;
    padding-top: 10px;
}

#title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

#content {
    margin-top: 90px;
}

#numberBuy {
    background-color: lightgray;
}

#numberSell {
    background-color: lightgray;
}

.benefice {
    font-weight: bold;
}